<footer class="bg-dark text-white text-center py-3" style="background-color:#333;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p style="color: white;">&copy; 2023 Your Company Name. All rights reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



