<div >
    <div class="centar1">
        <h1>Search</h1>
        <div class="card">
            <div class="up-text mt-2">
                <div class="left-text">
                    <label for="makeInput">Insert make brand:</label>
                    <input [(ngModel)]="make" pInputText type="text" id="makeInput" placeholder="Insert make brand">
                </div>
                <div class="right-text">
                    <label for="year">Insert make year:</label>
                    <p-inputNumber [(ngModel)]="year" mode="decimal" [showButtons]="true" inputId="year" [min]="1990" [max]="2023">
                    </p-inputNumber>
                </div>
            </div>
            <div class="center-text">
                <label class="sirina" for="modelInput">Insert model:</label>
                <input class="sirina" [(ngModel)]="model" pInputText type="text" id="modelInput" placeholder="Insert model">    
            </div>

            <div class="center-text">
                <label    class="sirina"  for="price">Price range: <b> {{rangeValues[0] + ' - ' + rangeValues[1]}}</b></label>
                <p-slider  class="mt-2 sirina" [(ngModel)]="rangeValues"[step]="500" [min]="1000" [max]="100000" inputId="price" [range]="true"></p-slider>
            </div>

            <div class="search-button">
                <p-button class="mt-3" label="Search" (click)="navigateToAds()"></p-button>
            </div>

        </div>
    </div>
    <div class="centar mt-2">
        <h1>New Cars</h1>
    </div>
    <div *ngIf="loading" class="loading-spinner center mt-5">
        <div class="spinner"></div>
      </div>
    <div *ngIf="!loading" class="container mt-2">
        <div *ngIf="cars!=undefined" class="row">
            <div class="item" *ngFor="let car of cars">
                <p-card (click)="navigateTo(car._id)" class="carnew" [style]="{'width': '250px','height':'350px', 'margin-bottom': '8px', 'cursor': 'pointer'}">
                    <ng-template pTemplate="title"> 
                        {{car.Model}}
                    </ng-template>
                    <ng-template pTemplate="content">
                       <img alt="{{car.Model}}" class="picture" src="{{car.imageUrl}}">

                        
                    </ng-template>
                    <ng-template pTemplate="footer" style="margin-top:auto">
                        <p><b>Price:</b> ${{car.Price}}&nbsp; <b>Year:</b> {{car.Year}} </p>
                    </ng-template>
                </p-card>
            </div>

        </div>

    </div>
    

    <div class="centar">
        <h1>Companies We Work With</h1>
    </div>
    <div class="centar mt-4">
        <button (click)="moveCompaniesLeft()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-left" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>

        <div *ngFor="let company of companiesToDisplay" [@fadeInOut]>
            <p-card [style]="{'width': '250px','height':'250px', 'margin': '8px'}">
                <img alt="{{company.name}}" class="picture" src="{{company.imageUrl}}">
                <p class="mt-2">{{company.description}}</p>
            </p-card>
        </div>
        <button (click)="moveCompaniesRight()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-right" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>
    </div>

    <div class="centar mt-4">
        <h1>Best Buy Cars</h1>
    </div>
    <div class="centar">
        <button (click)="moveBestBuyLeft()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-left" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>
        <div *ngFor="let car of bestBuyToDisplay">
            <p-card (click)="navigateTo(car._id)" class="carnew" [style]="{'width': '300px','height':'350px','margin-left':'10px','margin-right':'10px' ,'margin-bottom': '8px', 'cursor': 'pointer'}">
                <ng-template pTemplate="title"> 
                    {{car.Model}}
                </ng-template>
                <ng-template pTemplate="content">
                    <!-- <img alt="{{car.Model}}" class="picture" src="https://sveisvasta.hr/wp-content/uploads/2014/11/7190-jestiva-slika-pokrivka-torta-rodjendan-auto-crveni-sveisvasta.jpg"> -->
                    <img alt="{{car.Model}}" class="picture2" src="{{car.imageUrl}}">

                    
                </ng-template>
                <ng-template pTemplate="footer" style="margin-top:auto">
                    <p class="space-between">
                        <b>Price:</b> ${{car.Price}}&nbsp; 
                        <b>Year:</b> {{car.Year}} 
                    </p>
                </ng-template>
            </p-card>
        </div>
        <button (click)="moveBestBuyRight()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-right" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>
    </div>

    <div class="centar">
       <h1>Daily News</h1>
    </div>

</div>
