<div >
    <div class="centar1" >
        <h1>Search Cars</h1>
        <div class="card">
            <div class="up-text mt-2">
                <div class="left-text">
                    <label for="makeInput">Insert make brand:</label>
                    <input [(ngModel)]="make" pInputText type="text" id="makeInput" placeholder="Insert make brand">
                </div>
                <div class="right-text">
                    <label for="year">Insert make year:</label>
                    <p-inputNumber [(ngModel)]="year" mode="decimal" [showButtons]="true" inputId="year" [min]="1990" [max]="2023">
                    </p-inputNumber>
                </div>
            </div>
            <div class="center-text">
                <label class="sirina" for="modelInput">Insert model:</label>
                <input class="sirina" [(ngModel)]="model" pInputText type="text" id="modelInput" placeholder="Insert model">    
            </div>

            <div class="center-text">
                <label    class="sirina"  for="price">Price range: <b> {{'$'+rangeValues[0] + ' - ' +'$'+ rangeValues[1]}}</b></label>
                <p-slider  class="mt-2 sirina" [(ngModel)]="rangeValues"[step]="500" [min]="1000" [max]="100000" inputId="price" [range]="true"></p-slider>
            </div>

            <div class="search-button">
                <p-button class="mt-3" label="Search" (click)="navigateToAds()"></p-button>
            </div>

        </div>
    </div>
    <div class="centar mt-2">
        <h1>New Cars</h1>
    </div>
    <div *ngIf="loading" class="loading-spinner center mt-5">
        <div class="spinner"></div>
      </div>
    <div *ngIf="!loading" class="container mt-2">
        <div *ngIf="cars!=undefined" class="row">
            <div class="item" *ngFor="let car of cars">
                <p-card (click)="navigateTo(car._id)" class="carnew" [style]="{'width': '250px','height':'350px', 'margin-bottom': '8px', 'cursor': 'pointer'}">
                    <ng-template pTemplate="title"> 
                        {{car.Model}}
                    </ng-template>
                    <ng-template pTemplate="content">
                       <img alt="{{car.Model}}" class="picture" src="{{car.imageUrl}}">

                        
                    </ng-template>
                    <ng-template pTemplate="footer" style="margin-top:auto">
                        <p><b>Price:</b> ${{car.Price}}&nbsp; <b>Year:</b> {{car.Year}} </p>
                    </ng-template>
                </p-card>
            </div>

        </div>

    </div>
    

    <div class="centar">
        <h1>Companies We Work With</h1>
    </div>
    <div class="centar mt-4">
        <button (click)="moveCompaniesLeft()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-left" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>

        <div *ngFor="let company of companiesToDisplay" [@fadeInOut]>
            <p-card [style]="{'width': '250px','height':'250px', 'margin': '8px'}">
                <img alt="{{company.name}}" class="picture" src="{{company.imageUrl}}">
                <p class="mt-2">{{company.description}}</p>
            </p-card>
        </div>
        <button (click)="moveCompaniesRight()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-right" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>
    </div>

    <div class="centar mt-4">
        <h1>Best Buy Cars</h1>
    </div>
    <div class="centar">
        <button (click)="moveBestBuyLeft()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-left" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>
        <div *ngFor="let car of bestBuyToDisplay">
            <p-card (click)="navigateTo(car._id)" class="carnew" [style]="{'width': '300px','height':'350px','margin-left':'10px','margin-right':'10px' ,'margin-bottom': '8px', 'cursor': 'pointer'}">
                <ng-template pTemplate="title"> 
                    {{car.Model}}
                </ng-template>
                <ng-template pTemplate="content">
                     <img alt="{{car.Model}}" class="picture2" src="{{car.imageUrl}}">

                </ng-template>
                <ng-template pTemplate="footer" style="margin-top:auto">
                    <p class="space-between">
                        <b>Price:</b> ${{car.Price}}&nbsp; 
                        <b>Year:</b> {{car.Year}} 
                    </p>
                </ng-template>
            </p-card>
        </div>
        <button (click)="moveBestBuyRight()" style="background: none;
        border: none;
        padding: 0;
        cursor: pointer;">
        <i class="pi pi-arrow-circle-right" style="color: #3B82F6; font-size: 4rem;"></i>
        </button>
    </div>
    <h1 style="text-align: center;">Daily News</h1>
    <div class="centar">
      
       <div class="container" style="background-color: white;margin-bottom: 20px;" >
        <div class="left" style="border-right: 1px solid #ccc;">
            <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">1972 Buick Riviera on Bring a Trailer Is One Bodacious Boattail</h2>
            <p style="font-size: 14px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;margin: 0;padding: 0;" >One look at it and you'll understand why it's our Bring a Trailer auction pick of the day.</p>
            <p style="font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >BY <a href="https://www.caranddriver.com/author/2754/brendan-mcaleer/" target="_blank" style="">BRENDAN MCALEER</a> &nbsp;UPDATED: SEP 10, 2023</p>
            <img src="../../../assets/buick-riviera.jpg" class="oldcar">
            <ul style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                <li>
                    Far more charismatic than anything in Buick's current all-SUV lineup, this swaggering coupe hails from an age when Buick cranked out hits.
                </li>
                <li>
                    The iconic boattail styling still looks great half a century after this car hit the road, and brown on tan was never a more appropriate color combination.
                </li>
                <li>
                    The Bring a Trailer online auction on this '72 Riviera ends on Thursday, September 14.
                </li>
            </ul>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><a href="https://www.caranddriver.com/news/a45054447/1972-buick-riviera-bat-auction/" target="_blank">Read more...</a></p>
        </div>
        <div class="right">
            <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Autocar's A-Z of excellent used cars</h2>
            <p style="font-size: 14px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;margin: 0;padding: 0;" >With our complete guide, you'll never be short of inspiration for your next second-hand buy</p>
            <p style="font-size: 12px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >BY <a href="https://www.autocar.co.uk/users/richard-bremner" target="_blank" style=""> Richard Bremner</a> &nbsp;UPDATED: SEP 9, 2023</p>
            <h5  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Today's used car market can be a congested mess of questionable machinery the owners of which have priced a little too keenly.</h5>
            <p>If you're looking to buy a used car but are unsure how to navigate the market, or are simply in need of some inspiration, look no further than our A-Z. 

                We've got everything from the £500 Mazda RX-8 to Lexus's £650,000 LFA to help you plot your journey no matter the budget, and we've provided a handy price guide so you can make sure you're getting the best deal on the forecourt (or driveway).</p>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><a href="https://www.autocar.co.uk/slideshow/autocars-z-excellent-used-cars-0" target="_blank">Read more...</a></p>
            <img src="../../../assets/boxster_2012_a_0_1.webp" class="oldcar">
        </div>
    </div>
    
    </div>
    
</div>
