.card{
    height: 240px;
    width: 800px;
    background-color: rgba(237, 237, 237, 0.849);
    border: none;
    border-radius: 5;
}
/* .container{
    display: flex;
} */

.row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row */
    justify-content: space-between; /* Space items evenly in a row */
  }

  .item {
    width: calc(20%);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .centar1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column
  }

  .centar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .picture{
    height: 330px;
    width: 510px;
    object-fit: contain;
  }
  .right-side-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .cardd{
    width: 750px;
    height: 450px;
    margin-bottom: 8px;
    cursor: pointer
  }
  /* content{
    display: flex;
    justify-content: flex-start;
  } */
  
  ::ng-deep .p-card-content {
    display: flex;
    justify-content: flex-start;
  }

  ::ng-deep .row .ng-star-inserted{
    display: flex;
    justify-content: center;
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: white;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }   
}


.up-text{
  display: flex;
  justify-content: space-around;
}
.left-text{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.right-text{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.center-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sirina{
  width: 636px;
}
.search-button{
  display: flex;
  justify-content: center;
  
}
